ul {
	list-style-type: none;
	margin: 10px;
	padding: 0px;
	width: 10%;
	background-color: #ffffff;
	position: fixed;
	height: 100%;
	overflow: auto;
	text-align: center;
	float: left;
}

li a {
	display: block;
	color: #5bc0cf;
	padding: 8px 16px;
	text-decoration: none;
	margin-top: 37px;
}

li a.active {
	background-color: #4CAF50;
	color: white;
}

li a:hover:not(.active) {
	background-color: #555;
	color: white;
}

* {
	box-sizing: border-box;
}

body {
	font-family: Arial;
	padding: 10px;
	background: #f1f1f1;
}


.header {
	float: right;
	width: 87%;
	text-align: center;
	background: white;
	margin: 10px;
}

.footer {
	width: 87%;
	float: right;
	padding: 10px;
	text-align: center;
	background: #ffffff;
	margin: 10px;
}

.nn {
	width: 87%;
	padding: 10px;
	margin: 10px;
	float: right;
	background-color: white;
}